<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<title>Cadastro de Consultas</title>

</head>

<body>

<h1>Cadastro de Consultas</h1>
<form method="post">

   
	Nome: <input type= "text" value=""name="nome"/>
	CPF: <input type= "text" value=""name="cpf"/>
	Endereço: <input type= "text" value=""name="endereco"/>
	Data de Nascimento: <input type= "text" value=""name="datanascimento"/>
	Sexo: <input type= "text" value=""name="sexo"/>
	Telefone: <input type= "text" value=""name="telefone"/>
	Cartão SUS: <input type= "text" value=""name="cartaosus"/>
	E-mail: <input type= "text" value=""name="email"/>
	CEP: <input type= "text" value=""name="cep"/>
	Endereço: <input type= "text" value=""name="endereco"/>
	Especialidade: <input type= "text" value=""name="especialidade"/>
	Hospital: <input type= "text" value=""name="hospital"/>
	Medico: <input type= "text" value=""name="medico"/>
	Data: <input type= "date" value=""name="data"/>
	
	<button type="submit"> Teste</button>




</form>

</body>


</html>


